<div class="setup" id="feed-setup">
  <h1><%= t('sessions.new.title') %> <span class="orange"><%= t('sessions.new.rss') %></span>.</h1>
  <h2><%= t('sessions.new.subtitle') %></h2>

  <hr />

  <%= form_with(url: session_path, id: 'login') do |form| %>
    <div class="control-group">
      <%= form.email_field(:email, autofocus: true) %>
      <i class="icon-envelope-alt field-icon"></i>
      <%= form.label(:email, t('sessions.new.fields.email'), id: 'email-label', class: 'field-label') %>
    </div>
    <div class="control-group">
      <%= form.password_field(:password) %>
      <i class="icon-lock field-icon"></i>
      <%= form.label(:password, t('sessions.new.fields.password'), id: 'password-label', class: 'field-label') %>
    </div>
    <%= form.submit(t('sessions.new.fields.submit'), class: 'btn btn-primary pull-right') %>
  <% end %>
</div>
