<div class="setup" id="feed-setup">
  <h1><%= t('import.title') %></h1>
  <h2><%= t('import.subtitle') %></h2>

  <hr />
  <p>
    <%= t('import.description', link: ('<a href="https://www.google.com/reader/subscriptions/export?hl=en">' + t('import.export') + '</a>')).html_safe %>
  </p>
  <hr />

  <%= form_with(url: feeds_import_path, id: 'import', local: true) do |form| %>
    <%= form.file_field(:opml_file, id: 'opml_file', class: 'btn-primary', title: t('import.fields.import'), required: true) %>
    <%= link_to t('import.fields.not_now'), setup_tutorial_path, id: 'skip', class: 'btn pull-right' %>
  <% end %>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#opml_file').on("filePicked", function(e) {
    $('form#import').submit();
  });
});
</script>
